.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  text-align: center;
}

.layout {
  min-height: 100vh;
}

.split-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.split-section {
  flex: 1;
  padding: 1rem;
  box-sizing: border-box;
}

.split-section:first-child {
  margin-right: 0.5rem;
}

.split-section:last-child {
  margin-left: 0.5rem;
}

